{% extends 'layout.html' %}
{% set title = 'Profile Display' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    {% for result, filename in profiles %}
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="{{ url_for('static', filename='/img/'+filename) }}" alt="User profile photo">
            <div class="card-body">
                <h5 class="card-title">{{ result.username }}</h5>
                <h5 class="card-title">region id: {{ result.region_id }}</h5>
                <p class="card-text">{{ result.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}